:root {
    --var-tekst: white;
    --varv-taust: black;
    --varv-rohutus: gray;
    --samm: 1rem;
}

html {
    background-color: var(--varv-taust);
}

h1 {
    color: var(--var-tekst);
}

h2 {
    color: var(--var-tekst);
}

h3 {
    color: var(--var-tekst);
}

p {
    color: var(--varv-rohutus)
}

li{
    color: var(--var-tekst)
}

section {
    width: 200px;
    padding: 20px;
    border: 2px solid red;
    background-color: rgb(102, 101, 101);
}

footer {
    background-color: aliceblue;
}

main {
    max-width: 50%;
}