* {
    box-sizing: border-box;
}

main {
    max-width: 65ch;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

.aktiivne{
    color: red;
}

.kaardid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.kaart {
    background-color: rgb(119, 117, 117);
    border: 2px solid black;
    padding: 1rem;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    border: 2px solid black;
}

@media (min-width: 700px) {
    .contact {
        grid-template-columns: max-content 1fr;
    }
}